.pane {
    -fx-background-color: #d3d3d3;
}

.hbox {
    -fx-background-color: grey;
}




.button {
    -fx-border-radius: 20px ;
    -fx-background-radius: 20px;
    -fx-border-color: rgba(68, 66, 66, 0.76); /* Set border color to transparent */
    -fx-border-width: 2;

}